
<%-include("partials/header.ejs")  %>

<form action="/pass" method="post">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Submit</button>
</form>

</div>
<%-include("partials/footer.ejs")  %>