h1 {
    color: black;
}
html {
    background-color: #98E4FF;
}
#makeCenter{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}
#list{
    margin-top: 50px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    text-align: center;
    
    
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
#list ul {
    margin: 10px; 
}